
.top-container{
    height: 100px;
    background-color: #60919e;
    text-align: center;
}

.reg-nav-container{
    background-color: rgb(83, 35, 168);
    padding: 20px 0;

    width: 100%;
    padding: 14px;
    box-shadow: 0px 1px 7px 0px #888888;
    color: #ff8345;
}

.reg-nav-items li{
    display: inline;
    list-style: none;
    margin: 1.5%;
}

.reg-nav-items a{
    color: white;
}

.heading-container{
    background-color: #60919e;
    color: white;
    margin: 20px;
    height: 30px;
    border-left: 10px solid orange;
}

.heading-container h3{
    margin: 5px;
}

.reg-table{
    background-color: #84a6c4;
}

#submit_page1{
    border: 1px solid;
    width: 60px;
    height: 20px;
    border-radius: 15%;
    background-color: #888888;
    color: white;
}